@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:purple">
    <hr/>
    <h1 style="text-align:center; color:white">Derivative Path </h1>
    <hr style="color:white"/>
    <h2 style="text-align:center; color:white">Technical Interview</h2>
    <hr/>
</div>